@model Plinkit.UI.ViewModels.DailyLinksViewModel
<ul class="nav nav-pills nav-stacked">
    <li class="@Model.GetCategoryLinkClass("webDevelopment")"><a href="/Home/LinkCategory/?date=@Model.Date.ToShortDateString()&category=web-development">Web Development</a></li>
    <li class="@Model.GetCategoryLinkClass("entityFramework")"><a href="/Home/LinkCategory/?date=@Model.Date.ToShortDateString()&category=entity-framework">Entity Framework</a></li>
    <li class="@Model.GetCategoryLinkClass("visualStudio")"><a href="/Home/LinkCategory/?date=@Model.Date.ToShortDateString()&category=visual-studio">Visual Studio</a></li>              
    <li><a href="#javascript" data-toggle="tab">Javascript</a></li>  
    <li><a href="#cleanCode" data-toggle="tab">Clean Code</a></li>  
    <li><a href="#productivity" data-toggle="tab">Productivity</a></li>  
    <li><a href="#unitTesting" data-toggle="tab">Unit Testing</a></li>  
    <li><a href="#computerScience" data-toggle="tab">Computer Science</a></li>  
    <li><a href="#functionalProgrammingAndFSharp" data-toggle="tab">Functional Programming &amp; F#</a></li>  
    <li><a href="#computingTechnology" data-toggle="tab">Technology</a></li>  
    <li><a href="#uncleBob" data-toggle="tab">Uncle Bob</a></li>  
</ul>