<ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#webDevelopment" data-toggle="tab" class="">Web Development</a></li>
    <li><a href="#entityFramework" data-toggle="tab">Entity Framework</a></li>
    <li><a href="#visualStudio" data-toggle="tab">Visual Studio</a></li>              
    <li><a href="#javascript" data-toggle="tab">Javascript</a></li>  
    <li><a href="#cleanCode" data-toggle="tab">Clean Code</a></li>  
    <li><a href="#productivity" data-toggle="tab">Productivity</a></li>  
    <li><a href="#unitTesting" data-toggle="tab">Unit Testing</a></li>  
    <li><a href="#computerScience" data-toggle="tab">Computer Science</a></li>  
    <li><a href="#functionalProgrammingAndFSharp" data-toggle="tab">Functional Programming &amp; F#</a></li>  
    <li><a href="#computingTechnology" data-toggle="tab">Technology</a></li>  
    <li><a href="#uncleBob" data-toggle="tab">Uncle Bob</a></li>  
</ul>