<div id="pLinkItHeading">About <img src="~/Images/plinkit-small.gif" alt="pLinkIt" /></div>
<article>
    <p>
        pLinkIt was thrown together by Jonathan Russell, a .net developer since 2003, based in Stirling Scotland. 
        I have worked in the areas of Document Management, Ticketing, and Actuarial Modelling. A self-confessed geek,
        I am inspired by guys like Uncle Bob Martin, Martin Fowler and Michael Feathers, SOLID principles, Clean Code
        and the pursuit of doing things 'right'.
    </p>    
    <p>
        Being a developer demands that you stay abreast of current trends, practices, technologies and tools. 
        By compiling this list of daily links to blogs and resources, I am attempting to ease that process. I hope you
        find it useful too.
    </p>
    <p>
        When not coding, I'm playing with my sons David and Michael, playing football, watching football, thinking about
        football, reading, eating...
    </p>
</article>