<div id="pLinkItHeading">Contact <img src="~/Images/plinkit-small.gif" alt="pLinkIt" /></div>
<p><@ViewBag.Message</p>
<address>  
  One Microsoft Way<br /><br />
  Redmond, WA 98052-6399<br /><br />
  <span class="icon-headphones clear"> </span> 425.555.0100<br /><br />
  <span class="icon-print clear"> </span> 425.555.0199<br /><br />
  <span class="icon-envelope clear"></span> <a href="mailto:Support@example.com">Support@plinkit.co.uk</a>
</address> 