body 
{    
    padding-bottom: 40px;
    padding-top: 60px;
    margin: 0;
}

.brand
{
    background: url(../../Images/plinkit-small.gif) no-repeat top left;
    display: block;
    width: 150px;
    height: 30px;
    text-indent: -9999px;
}

.hero-unit {
   /*background: url(../../Images/grid.png) repeat top left; */
}

.clear { margin-bottom: 1em; }

.pop { margin: 0; }